* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--primary-font);
}

:root {
    --primary-color: #BFF3E9;
    --seccondary-color: #001B2E;
    --accen1-color: #247BA0;
    --accent2-color: #93827F;

    --primary-font: 'Roboto', sans-serif;
}

header {
    background-color: var(--seccondary-color);
    color: white;
}

h1 {
    color: white;
}

h2 {
    background-color: var(--accent2-color);
    margin: 1rem auto;
    padding: 5px;
}

h2, h3 {
    color: var(--seccondary-color);
    padding: 5px;
}

section {
background-color: var(--primary-color);
}

p {
    padding: 5px;
}