@media only screen and (min-width: 42rem) {
    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    #menu {
		display: none;
	}

    nav {
		flex-direction: row;
	}

	nav a {
		display: block;
		flex: 1 1 100%;
	}

    .main-home {
        display: grid;
        grid-template-columns: 0.2fr 1.5fr;
        grid-template-rows: 1fr 1fr;
    }

    .homepage-banner {
        grid-column: 1/3;
        grid-row: 1;

    }

    .invitation {
        grid-column: 1;
        grid-row: 2;
    }

    .sections {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        grid-column: 2/3;
        grid-row: 2;
    }

    .card {
        margin: 10px;
        padding: 10px;      
    }

    .discover-main {
        display: grid;
        grid-template-columns: 1fr 2fr;
        margin: 0 auto;
    }
    .discover-sidebar {
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-column: 1/2;
    }
    .discover-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-column: 2/3;
    }
    .label {
        display: block;
        width: 175px;
        font-weight: 700;
        color: rgb(156, 33, 33);
        text-align: center;
        margin-right: 10px;
    }
    .discover-content figure:hover {
        box-shadow: 1px 1px 10px black;
    }


}