@media only screen and (min-width: 40rem) {
    main {
        margin: 1rem auto;
    }

    .hero {
        position: relative;
    }

    .hero picture {
        width: 100%;
    }

    .hero img {
        width: 100%;
        height: auto;
        display: block;
    }

    .templename {
        position: absolute;
        font-weight: 700;
        font-family: 'Special Elite', serif;
        top: 30px;
        left: 30px;
    }

    .cards {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 10px;
    }

    .cards section {
        box-shadow: 1px 1px 10px black;
    }

    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    #menu {
        display: none;
    }

    nav {
        flex-direction: row;
    }

    nav a {
        display: block;
        flex: 1 1 100%;
    }

    iframe {
        display: block;
        margin: 10px auto;
    }

}